code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-size: 18px;
  line-height: 1.2;

  background-image: url(./image/hand-businessman-placing-five-wooden-cut-circles-with-contact-information-icons-them-row-rustic-wooden-desk_254268-1552.jpg);

  background-size: cover;
  background-repeat: no-repeat;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
